/* CSS declarations go here */
body{
  font-family: sans-serif;
  background-color: #1f68bf;
  background-image: linear-gradient(to bottom, #1f68bf, #d43256 100%);
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

header {
  background: #58cee3;
  background-image: linear-gradient(to bottom, #58cee3, #fe9593 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
  margin-bottom: 3px;
}
.navBar{
    margin-bottom: 3px;
}
.playList{
    margin-top: 10px;
}
.sessionId{
    margin-top: 10px;
}
.pull-left{
    text-align: left;
}
.pull-right{
    text-align: right;
}

/************ BUTTONS ***********************/

#login-buttons {
  display: block;
}
#createBtn{
    text-align: center;
    padding-bottom: 10px;
}

button#createSessionId.btn.btn-primary.btn-sm{
    text-align: center;
    outline: none;
    text-shadow: #000 1px 1px;
    color: #1f68bf;
    background-color: #fe9593;
    border: none;
}

button#createSessionId.btn.btn-primary.btn-sm:hover {background-color: #fe9593}

button#createSessionId.btn.btn-primary.btn-sm:active {
  background-color: #fe9593;
  transform: translateY(4px);
}
/***************************************/
button.btn.btn-primary.yesLogout{
    outline: none;
    width: 100%;
    text-shadow: #000 1px 1px;
    color: #58cee3;
    background-color: #d43256;
    border: none;
}

button.btn.btn-primary.yesLogout:hover {background-color: #d43256}

button.btn.btn-primary.yesLogout:active {
  background-color: #d43256;
  transform: translateY(4px);
}
/***************************************/
button.btn.btn-primary.cancelLogout{
    outline: none;
    width: 100%;
    text-shadow: #000 1px 1px;
    color: #58cee3;
    background-color: #d43256;
    border: none;
}

button.btn.btn-primary.cancelLogout:hover {background-color: #d43256}

button.btn.btn-primary.cancelLogout:active {
  background-color: #d43256;
  transform: translateY(4px);
}
#sessionIdBox{
    border:1px solid #fe9593 !important;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

form {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-bottom: 0;
}
li{
    display: inline;
    padding: 5px;
}
li:hover {
    background-color: #e6f4f4;
}
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
.signIn{
    text-align: left;
}
.logOutDiv{
    margin-top: 5px;
}
.ruSure{
    text-align: center;
}
.admin{
    text-align: center;
}

/***********************************/
@media only screen and (max-width: 500px) and (min-width: 300px){
[class*="col-"] {
    width: 100%;
}
/*.col-xs-12{
    width: 100%;
}*/

    .col-xs-10 {
        padding-left: 0 !important;
        padding-right: 3px !important;
    }
    .col-xs-2 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

}
/*@media (max-width: @screen-xs-max) {
}*/
/*@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }*/
/************* SAVING FOR COPY **********************/


/*ul {
    margin: 0;
    padding: 0;
    background: white;
    border-radius: 5px;

}
li{
    background:blue;
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin:0;
    padding:20px;
    transition:background 0.2s;
    display:flex;
    justify-content:space-between;
    text-transform: capitalize;
}
li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
    border-radius: 5px;
}*/
