/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

form {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

/*ul {
    margin: 0;
    padding: 0;
    background: white;
    border-radius: 5px;

}
li{
    background:blue;
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin:0;
    padding:20px;
    transition:background 0.2s;
    display:flex;
    justify-content:space-between;
    text-transform: capitalize;
}
li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
    border-radius: 5px;
}*/

ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-bottom: 0;
}
li{
    display: inline;
    padding: 5px;
}
li:hover {
    background-color: #e6f4f4
}
.hl {
    background-color: yellow;
}
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

.signIn{
    text-align: left;
}

header .hide-completed {
    float: right;
}

.toggle-private {
    margin-left: 5px;
}




/***********************************/
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .searchfield input {
    padding-bottom: 5px;
  }
}