div#deleteSong.col-xs-12{
    padding: 10px;
    background-color: #1f68bf;
    color: white;
}
.playList{
    border: 1px solid #1f68bf;
    padding: 5px 10px;
    background-color: #1f68bf;
}
.playList p{
    color: white;
    text-align: center;
    font-size: 2em;
    margin-bottom: 0;
}
#playListHeader{
    font-size: 1em;
    background-color: #1f68bf;
    padding: 3px 3px !important;
    color: #ffffff;
    margin-top: 10px !important;
}

/********** list ***************/
#playListRow{
    padding-right: 0 !important;
    border-bottom: 1px solid #1f68bf;
}
div.container-fluid.confirmModal{
    text-align: center;
    padding: 10px;
    display: none;
}
div#playListHeader.row > div.col-xs-12{
    padding-right: 0 !important;
    padding-left: 0 !important
}
div#playListHeader.row > div.col-xs-12 > div.col-xs-4{
    text-align: right;
}

.noGlyph{
    font-size: x-large;
}
.yesGlyph{
    font-size: x-large;
}