.searchArea{
    border: 1px solid #58cee3;
    padding: 10px;
    background-color: #58cee3;
}
input.form-control.inputField{
    text-align: center;
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    font-size: 1em;
    border: 1px solid white !important;
    color: #555 !important;
    box-shadow: 3px 3px #347b88!important;
}
button.btn.searchDB{
    background-color: white;
    width: 100%;
    color: #555;
    border: none !important;
    box-shadow: 3px 3px #347b88!important;
}
button.btn.searchDB:focus{
    border: none !important;
    outline: none !important;
}
button.btn.searchDB:active{
    box-shadow: 1px 1px #555!important;
    transform: translateY(4px);
}
span.glyphicon.glyphicon-search#searchGlyph{
    color: #555;

}

/******** list header **********/
#searchHeader{
    font-size: 1em;
    background-color: #58cee3;
    padding: 3px 3px !important;
    color: #555;
    margin-top: 10px !important;
}
p#song{
    margin-bottom: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}
p#songId{
    margin-bottom: 0  !important;
    padding-right: 0 !important;
    padding-left: 0 !important;

}

/********** SEARCH LIST ***************/
#resultRow{
    padding-right: 0 !important;
    padding-left: 0 !important;
    border-bottom: 1px solid #347b88;
}

#id{
    margin-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 15px;
    text-align: right !important;
}
.idTab{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.artistTab{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
#artist{
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 0 !important;
}
#title{
    margin-bottom: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}
div#searchHeader.row > div.col-xs-12{
    padding-right: 0 !important;
    padding-left: 0 !important
}
div#searchHeader.row > div.col-xs-12 > div.col-xs-4{
    text-align: right;
}




/******** request song notification ***************/
button#errMsg.btn.btn-primary.requestBox{
    padding-top: 6px;
    padding-bottom: 6px;
    border: none !important;
    background-color: #fe9593;
    width: 100%;
    margin: auto !important;
    box-shadow: 3px 3px #985958 !important;
    cursor: default;
}
button#errMsg.btn.btn-primary.requestBox:active{
    background-color: #fe9593;
    cursor: default;
    border: none;
}
button#errMsg.btn.btn-primary.requestBox:focus{
    outline: none;
    cursor: default;
}
button#errMsg.btn.btn-primary.requestBox:hover{
    cursor: default;
}


