.inputField {
    text-align: center;
    box-sizing: border-box;
    padding: 10px 10px;
    background: transparent;
    width: 100%;
    font-size: 1em;
    margin-bottom: 10px 0;
    border: 1px solid #1f68bf;
    color: #000 !important;
    box-shadow: none !important;
}
.requestBox{
    display: block;
    background-color: #fe9593 !important;
    color: #1f68bf !important;
    /*text-shadow: #000 1px 1px;*/
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;

}
/*.confirm td{
    text-align: center;
}
*/

/*table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}*/
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 5px;
    text-align: justify;
    border-bottom: 1px solid #ddd;
}
/*th {
    background-color: #cccece;
}*/
tr:hover {
    background-color: #d2e0f2
}
tr:active {
  transform: translateY(4px);
}
table#searchTable.table > tr#searchTH{
    background-color: #1f68bf !important;
    color: #fe9593 !important;
    text-shadow: #000 1px 1px;
}



